b {
    font-size: 16px;

}

.grey {
    background-color: darkgray;
}

.red {
    color: red;
}

.main {
    padding-left: 40px;
    padding-right: 40px;
}

p {
    padding-bottom: 20px;
}